*{
    margin: 0;
    padding: 0;
    font-family: 'Cookie', cursive, sans-serif;
}

body{
    /*background-color: darkorchid;*/
    background-color: #7140E1;
}

header{
    color: white;
    font-size: 26px;
    margin-top: 80px;
}

a{
    text-decoration: none;
    /*color: darkorchid;*/
    color: #6F1191;
}

.h-wrapper{
    width: 450px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.h-wrapper p{
    margin-left: 25px;
}


section{
    margin-top: 45px;
}


.pr-wrapper{
    width: 900px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}



.button{
    background-color: #ffc800;
    padding: 5px 15px;
    border-radius: 10px;
    margin: 15px 5px;
    transition: .3s;
}

.button:hover{
    background-color: #BFA130;
}

@media (max-width:600px) {
    .pr-wrapper{
        width: 400px;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    .pr-wrapper{
        width: 568px;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .pr-wrapper{
        width: 792px;
    }
}