@font-face {
    font-family: 'Roboto';
    src: local('Roboto Thin'), local('Roboto-Thin'),
    url('fonts/Roboto/Roboto-Thin.ttf') format('ttf'),
    url('fonts/Roboto/Roboto-Thin.woff') format('woff'),
    url('fonts/Roboto/Roboto-Thin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto Thin Italic'), local('Roboto-ThinItalic'),
    url('fonts/Roboto/Roboto-ThinItalic.ttf') format('ttf'),
    url('fonts/Roboto/Roboto-ThinItalic.woff') format('woff'),
    url('fonts/Roboto/Roboto-ThinItalic.woff2') format('woff2');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto Light'), local('Roboto-Light'),
    url('fonts/Roboto/Roboto-Light.ttf') format('ttf'),
    url('fonts/Roboto/Roboto-Light.woff') format('woff'),
    url('fonts/Roboto/Roboto-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto Light Italic'), local('Roboto-LightItalic'),
    url('fonts/Roboto/Roboto-LightItalic.ttf') format('ttf'),
    url('fonts/Roboto/Roboto-LightItalic.woff') format('woff'),
    url('fonts/Roboto/Roboto-LightItalic.woff2') format('woff2');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto'), local('Roboto-Regular'),
    url('fonts/Roboto/Roboto-Regular.ttf') format('ttf'),
    url('fonts/Roboto/Roboto-Regular.woff') format('woff'),
    url('fonts/Roboto/Roboto-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto Italic'), local('Roboto-Italic'),
    url('fonts/Roboto/Roboto-Italic.ttf') format('ttf'),
    url('fonts/Roboto/Roboto-Italic.woff') format('woff'),
    url('fonts/Roboto/Roboto-Italic.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto Medium'), local('Roboto-Medium'),
    url('fonts/Roboto/Roboto-Medium.ttf') format('ttf'),
    url('fonts/Roboto/Roboto-Medium.woff') format('woff'),
    url('fonts/Roboto/Roboto-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto Medium Italic'), local('Roboto-MediumItalic'),
    url('fonts/Roboto/Roboto-MediumItalic.ttf') format('ttf'),
    url('fonts/Roboto/Roboto-MediumItalic.woff') format('woff'),
    url('fonts/Roboto/Roboto-MediumItalic.woff2') format('woff2');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto Bold'), local('Roboto-Bold'),
    url('fonts/Roboto/Roboto-Bold.ttf') format('ttf'),
    url('fonts/Roboto/Roboto-Bold.woff') format('woff'),
    url('fonts/Roboto/Roboto-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'),
    url('fonts/Roboto/Roboto-BoldItalic.ttf') format('ttf'),
    url('fonts/Roboto/Roboto-BoldItalic.woff') format('woff'),
    url('fonts/Roboto/Roboto-BoldItalic.woff2') format('woff2');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto Black'), local('Roboto-Black'),
    url('fonts/Roboto/Roboto-Black.ttf') format('ttf'),
    url('fonts/Roboto/Roboto-Black.woff') format('woff'),
    url('fonts/Roboto/Roboto-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto Black Italic'), local('Roboto-BlackItalic'),
    url('fonts/Roboto/Roboto-BlackItalic.ttf') format('ttf'),
    url('fonts/Roboto/Roboto-BlackItalic.woff') format('woff'),
    url('fonts/Roboto/Roboto-BlackItalic.woff2') format('woff2');
    font-weight: 900;
    font-style: italic;
}
