section{
    font-style: normal;
}

.c-wrapper{
    width: calc(100% - 32px);
    margin: 0 auto;

}
.c-margin{
    margin-top: 32px;


    text-align: center;
    text-transform: uppercase;
}

.c-margin h1{
    font-weight: 100;
    line-height: 39px;
}

.c-human-rishon{
    display: flex;
    margin-top: 9px;
    justify-content: center;
}

.c-paragraph{
    margin: 22px;
}

.c-paragraph p{
    width: 327px;
    margin: 0 auto;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}

.c-paragraph span{
    font-weight: bold;
    position: relative;
}

.c-paragraph span:before{
    position: absolute;
    /*left: 120px;*/
    top: 20px;
    content: '';
    width: 127px;
    height: 2px;
    background: #2D9C4A;

}

.c-paragraph span:nth-child(2):before{
    width: 95px;
}


.c-heart-wrapper{
    margin: 20px;
    display: flex;
    justify-content: center;
}

.c-heart{
    display: flex;
    align-items: center;
}

.c-heart-wrapper a:visited{
    color: black;
}


.c-heart p{
    margin: 10px;
}




/*==============  2-d Section  ===============*/


.second-wrap{
    width: 360px;
    margin: 0 auto;
}

.second-sect span{
    position: relative;
    color: #2D9C4A;
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;

}

.second-sect span:after{
    position: absolute;
    content: '';
    width: 15px;
    height: 2px;
    background-color: #2D9C4A;
    top: 7px;
    left: 135px;

}

.second-sect h2{
    margin-top: 10px;
    font-weight: normal;
    font-size: 26px;
    line-height: 39px;
}

.second-sect p{
    margin-top: 20px;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
}


.second-wrap button{
    margin-top: 20px;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    color: white;
    padding: 20px 100px;
    border-radius: 30px;
    background-color: #2D9C4A;
    border: 1px solid white;
}

.advantages{

}

.advantages img{
    background-color: transparent;
}
.advantages h3{
    background-color: transparent;
}
.advantages p{
    background-color: transparent;
}


.list-view{
    margin: 10px auto;
    width: 230px;
    height: 230px;
    background: #FFFFFF;
    box-shadow: -10px 10px 30px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
}
/*==============  END 2-d Section  ===============*/
